

<div class = "container">

  <div class="row mt-5">

    <div class="col-3 mx-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <%= @user.username %><br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= @user.name %></li>
          <li class="list-group-item"><%= @user.email %></li>
        </ul>
      </div>
    </div>
  
    <div class="col-6 mx-3">

      <div class="my-2">
        <h4 class="text-primary">Attended events</h4>
        <% past_events = @user.attended_events.order(event_on: :desc).where('event_on < ?', Date.today) %>
        <%= render partial: "events/list", locals: {events: past_events} %> 
      <div>

      <div class="my-5">
        <h4 class="text-primary">Events to attend</h4>
        <% past_events = @user.created_events.order(event_on: :asc).where('event_on >= ?', Date.today) %>
        <%= render partial: "events/list", locals: {events: past_events} %> 
      <div>

      <div class="my-5">
        <h4 class="text-primary">Created events</h4>
        <%= render partial: "events/list", locals: {events: @user.created_events} %>
      <div>

    </div>

  </div>
</div>