

<%= form_with model: event do |form|%>

  <% if event.errors.any? %>
    <div class="alert">
      <% event.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :event_on %>
    <%= form.date_field :event_on,  class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.number_field :event_creator_id,
    id: :event_event_creator_id, class: "form-control", value: Current.user.id, type: :hidden %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<%end%>

