

<div class="container">
  <div class="row">  
    <div class="my-3">

      <div class="card" style="width: 18rem;">
      <div class="card-header">
        <%= @event.name %><br>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @event.location %></li>
        <li class="list-group-item"><%= @event.event_on %></li>
        <li class="list-group-item"><%= User.find(@event.event_creator_id).username %></li>
      </ul>
      </div>

      <%= button_to "Attend", attend_path(event_id: @event.id), method: :patch, class: "button is-primary is-large 
is-fullwidth" %>


    </div>
  </div>
</div>