

<div class="container">

  <div class="row">  
    <div class="my-3">

      <table class="table w-50">
        <tbody>
          <tr class="card-header">
            <th>Event name</th>
            <td>
              <%= @event.name %>
            </td>
          </tr>
          <tr>
            <th>Location</th>
            <td>
              <%= @event.location %>
            </td>
          </tr>
          <tr>
            <th>Date</th>
            <td>
              <%= @event.event_on %>
            </td>
          </tr>
          <tr>
            <th>Event creator</th>
            <td>
              <%= User.find(@event.event_creator_id).username %>
            </td>
          </tr>
          <tr>
            <th>Event Attendees</th>
              <td>
              <% @event.event_attendings.each do |f| %>
                <%= User.find( f.attendee_id ).username %>
                <br>
              <% end %>
            </td>
          </tr>

        </tbody>
      </table>

      <% unless  Current.user.nil? %>

        <% unless @event.event_attendings.exists?(attendee_id: Current.user.id) %>

          <%= button_to "Attend", attend_path(event_id: @event.id), method: :patch, class: "button is-primary is-large 
  is-fullwidth" %>

        <% else %>

          <%= button_to "Withdraw", withdraw_path(event_id: @event.id), method: :delete, class: "button is-primary is-large 
  is-fullwidth" %>
        <% end %>

      <% end %>

    </div>
  </div>
</div>